.active{
    color: red;
}

.header{
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    float: inline-end;
    width: 1440px;
    
height: 1024px;
Top:-1155px;
Left:-1780px;
border-radius: 25px;


}